<div class="card flex flex-wrap justify-content-center gap-2">
  <p-sidebar [(visible)]="show" position="right">
    <ng-template pTemplate="header" class="d-flex justify-content-between">
      <h4>BỘ LỌC</h4>
    </ng-template>

    <form [formGroup]="orderFilterForm" class="container-fluid p-0">
      <div class="d-flex justify-content-between my-4">
        <h5>Sắp xếp</h5>
        <div>
          <select formControlName="sort">
            <option value="dateDesc">MỚI NHẤT</option>
            <option value="dateAsc">CŨ NHẤT</option>
            <option value="amountDesc">GIÁ GIẢM DẦN</option>
            <option value="amountAsc">GIÁ TĂNG DẦN</option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-between my-4">
        <h5>Trạng thái</h5>
        <div>
          <select formControlName="status">
            <option [ngValue]="null">TẤT CẢ</option>
            <option [ngValue]="0">CHỜ XÁC NHẬN</option>
            <option [ngValue]="1">ĐÃ XÁC NHẬN</option>
            <option [ngValue]="2">ĐANG GIAO HÀNG</option>
            <option [ngValue]="3">HOÀN THÀNH</option>
            <option [ngValue]="4">ĐÃ HỦY</option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-between my-4">
        <h5>Phương thức thanh toán</h5>
        <div>
          <select formControlName="paymentMethod">
            <option [ngValue]="null">TẤT CẢ</option>
            <option [ngValue]="'COD'">COD</option>
            <option [ngValue]="'VnPay'">VnPay</option>
            <option [ngValue]="'PayPal'">PayPal</option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-between my-4">
        <h5>Giảm</h5>
        <div>
          <select formControlName="isDiscounted">
            <option [ngValue]="null">TẤT CẢ</option>
            <option [ngValue]="true">GIẢM</option>
            <option [ngValue]="false">KHÔNG</option>
          </select>
        </div>
      </div>
    </form>

    <div class="my-4" style="width: 100%">
      <div class="d-flex justify-content-between mb-2">
        <h5>Giá</h5>
        <div class="d-flex gap-1">
          <p>{{ amountRangeValues[0] * 100000 | number : "1.0" : "en-US" }}đ</p>
          <span>-</span>
          <p>{{ amountRangeValues[1] * 100000 | number : "1.0" : "en-US" }}đ</p>
        </div>
      </div>

      <div>
        <p-slider [(ngModel)]="amountRangeValues" [range]="true" />
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="d-flex gap-2 mt-1 justify-content-between">
        <button
          class="animated-btn fs-6"
          (click)="resetFilter(); sidebarService.closeAll()"
        >
          ĐẶT LẠI
        </button>
        <button class="animated-btn fs-6" (click)="applyFilter()">
          ÁP DỤNG
        </button>
      </div>
    </ng-template>
  </p-sidebar>
</div>
