<div class="container register-layout">
  <div class="row">
    <h2 class="mb-3">CẬP NHẬT MẬT KHẨU</h2>
    <form [formGroup]="resetPassForm" (ngSubmit)="updatePass()">
      <app-text-input
        [formControl]="resetPassForm.controls['password']"
        [label]="'Mật khẩu mới'"
        [type]="'password'"
      >
      </app-text-input>
      <app-text-input
        [formControl]="resetPassForm.controls['confirmPassword']"
        [label]="'Nhập lại mật khẩu'"
        [type]="'password'"
      >
      </app-text-input>

      <div class="d-flex">
        <button [disabled]="resetPassForm.invalid" class="animated-btn signup-btn p-3 mb-4" type="submit">
          CẬP NHẬT
        </button>
      </div>
    </form>
  </div>
</div>
