<div class="marquee" style="max-width: 100%; overflow: hidden;">
    <div class="marquee-content">
        <span>{{marquee}}</span>
        <span>{{marquee}}</span>
    </div>
</div>

<div class="fixed-marquee">
    <div class="marquee-content" >
      <span class="font"style="color: white!important;">{{fixedMarquee}}</span>
      <span class="font"style="color: white!important;">{{fixedMarquee}}</span>
      <span class="font"style="color: white!important;">{{fixedMarquee}}</span>
      <span class="font"style="color: white!important;">{{fixedMarquee}}</span>
      <span class="font"style="color: white!important;">{{fixedMarquee}}</span>
      <span class="font"style="color: white!important;">{{fixedMarquee}}</span>
    </div>

  </div>