<div class="">
  <h4 class="card-title text-center mb-2">Thêm Sản Phẩm</h4>
  <form [formGroup]="createProductForm" (ngSubmit)="createProduct()">
    <div class="mb-3">
      <label for="name" class="form-label fw-bold"
        >Tên sản phẩm <small class="text-danger">*</small></label
      >
      <input
        id="name"
        type="text"
        formControlName="name"
        [class.is-invalid]="
          createProductForm.get('name').touched &&
          createProductForm.get('name').invalid
        "
        oninput="this.value = this.value.toUpperCase()"
        class="form-control p-2"
      />
      <div
        *ngIf="createProductForm.get('name').hasError('required')"
        class="invalid-feedback"
      >
        *Vui lòng nhập Tên sản phẩm
      </div>
    </div>

    <div class="mb-3 list-group">
      <label for="price" class="form-label fw-bold"
        >Giá sản phẩm <small class="text-danger">*</small></label
      >
      <p-inputNumber id="price" formControlName="price" min="0" [max]="maxPrice" />
    </div>
    <div class="mb-3 list-group">
      <label for="discount" class="form-label fw-bold">Giảm giá (%)</label>
      <p-inputNumber id="discount" formControlName="discount" min="0" max="100" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label fw-bold"
        >Mô tả <small class="text-danger">*</small></label
      >
      <p-editor id="description" formControlName="description" [style]="{ height: '150px' }" />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label fw-bold"
        >Thể loại <small class="text-danger">*</small></label
      >
      <select
        id="category"
        *ngIf="adminService.categories.length > 0"
        formControlName="category"
        class="form-select"
      >
        <option *ngFor="let item of adminService.categories" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>
    <div *ngIf="adminService.colors.length > 0" class="mb-3 fw-bold">
      <label for="productColors" class="form-label fw-bold"
        >Màu sản phẩm <small class="text-danger">*</small></label
      >
      <app-color-checkbox-group
        formControlName="productColors"
        [colors]="adminService.colors"
      >
      </app-color-checkbox-group>
    </div>

    <div *ngIf="adminService.sizes.length > 0" class="mb-3 fw-bold">
      <label for="productSizes" class="form-label fw-bold"
        >Size sản phẩm <small class="text-danger">*</small></label
      >
      <app-size-checkbox-group
        formControlName="productSizes"
        [sizes]="adminService.sizes"
      ></app-size-checkbox-group>
    </div>

    <div class="mb-3 fw-bold">
      Ảnh sản phẩm <small class="text-danger">*</small>
      <div class="row">
        <div class="col m-2">
          <div class="card flex justify-content-center">
            <p-fileUpload
              id="mainImage"
              [multiple]="false"
              accept="image/*"
              showUploadButton="false"
              showCancelButton="false"
              maxFileSize="4000000"
              (onSelect)="onSelectedFile($event, 'mainImage')"
            >
            </p-fileUpload>
          </div>
          <label class="mt-1" style="font-weight: bold"
            >Ảnh chính <small class="text-danger">*</small></label
          >
        </div>

        <div class="col m-2">
          <div class="card flex justify-content-center">
            <p-fileUpload
              id="subImage"
              [multiple]="false"
              accept="image/*"
              showUploadButton="false"
              showCancelButton="false"
              maxFileSize="4000000"
              (onSelect)="onSelectedFile($event, 'subImage')"
            >
            </p-fileUpload>
          </div>
          <label class="mt-1" style="font-weight: bold"
            >Ảnh phụ <small class="text-danger">*</small></label
          >
        </div>
      </div>

      <div class="row">
        <p-fileUpload
          id="otherImages"
          [multiple]="true"
          accept="image/*"
          maxFileSize="4000000"
          (onSelect)="onSelectedFile($event, 'productImages')"
        >
        </p-fileUpload>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button
        [disabled]="createProductForm.invalid"
        type="submit"
        class="create-btn btn btn-success"
      >
        Thêm sản phẩm
      </button>
    </div>
  </form>
</div>
