<nav #navBar class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/collections/all"
            >SHOP ALL</a
          >
        </li>
        @if (shopService.categories()) { @for (cat of shopService.categories();
        track $index) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/collections/{{ cat.slug }}">{{
            cat.name | uppercase
          }}</a>
        </li>
        } }
        <li class="nav-item">
          <a class="nav-link" routerLink="/collections/sale">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recruitment">RECRUITMENT</a>
        </li>
      </ul>

      <ul class="navbar-nav me-0 mb-2 mb-md-0">
        @if(accountService.currentUser()) {
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/account"
            >TÀI KHOẢN</a
          >
        </li>
        } @if(accountService.currentUser() === null) {
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/account/login"
            >ĐĂNG NHẬP</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/account/register"
            >ĐĂNG KÝ</a
          >
        </li>
        }
        <li class="nav-item">
          <a class="nav-link">TÌM KIẾM</a>
        </li>
        <li class="nav-item" (click)="sidebarService.toggle('cart')">
          <a class="nav-link">GIỎ HÀNG ({{cartService.count()}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
