.size-selector {
  display: flex;
  flex-wrap: wrap;
}

.size-option {
  display: inline-block;
}

.size-option input[type="checkbox"] {
  display: none; /* Ẩn checkbox mặc định */
}

.size-option span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f6f6f6;
  color: #333;
  cursor: pointer;
}

.size-option span:hover {
  background-color: #f0f0f0;
}

.size-option input[type="checkbox"]:checked + span {
  background-color: black;
  color: white;
  border: none;
}
