.register-layout {
    margin: 0 auto;
    width: 40%;
    padding: 50px 0;
    margin-top:50px;
}

a {
    text-decoration: none;
    color: black;
}

::ng-deep .custom-calendar{
    width: 100% !important;
  }
  
::ng-deep .p-inputtext {
    border-radius: 0 !important;
}

::ng-deep .p-calendar .p-datepicker {
    min-width: 50% !important;
    /* max-height: 50% !important; */
}

.signup-btn {
  font-size: medium;
  font-weight: bolder;
}
