<form
  *ngIf="product"
  [formGroup]="updateProductForm"
  (ngSubmit)="updateProduct()"
>
  <div class="mb-3">
    <label for="name" class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control"
      oninput="this.value = this.value.toUpperCase()"
    />
  </div>
  <div class="mb-3">
    <label for="slug" class="form-label">Url</label>
    <input type="text" formControlName="slug" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Giá sản phẩm</label>
    <input type="number" formControlName="price" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="discount" class="form-label">Giảm giá (%)</label>
    <input type="number" formControlName="discount" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">Thể loại</label>
    <select
      *ngIf="shopService.categories()"
      formControlName="categoryId"
      class="form-select"
    >
      <option *ngFor="let item of shopService.categories()" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>

  <div *ngIf="shopService.colors()" class="mb-3">
    Màu sản phẩm
    <div class="row">
      <app-color-checkbox-group
        formControlName="colors"
        [colors]="shopService.colors()"
      ></app-color-checkbox-group>
    </div>
  </div>

  <div *ngIf="shopService.sizes()" class="mb-3">
    Size sản phẩm
    <div class="row">
      <app-size-checkbox-group
        formControlName="sizes"
        [sizes]="shopService.sizes()"
      ></app-size-checkbox-group>
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <p-editor formControlName="description" [style]="{ height: '150px' }" />
  </div>

  @for (img of product.productImages; track $index) {
  <div class="d-inline-flex m-2">
    <div class="col-2 list-group">
      <img src="{{ img.imageUrl }}" alt="" class="img-thumbnail p-1" />
      <div class="text-center d-flex">
        <button
          type="button"
          [disabled]="img.isMain"
          (click)="setMainPhoto(product.id, img.id)"
          [ngClass]="img.isMain ? 'btn-success active' : 'btn-outline-success'"
          class="btn btn-sm"
        >
          Chính
        </button>
        <button
          type="button"
          [disabled]="img.isSub"
          (click)="setSubPhoto(product.id, img.id)"
          [ngClass]="img.isSub ? 'btn-success active' : 'btn-outline-success'"
          class="btn btn-sm"
        >
          Phụ
        </button>
        <button
          type="button"
          [disabled]="img.isMain || img.isSub"
          (click)="deleteImage(product.id, img.id)"
          class="btn btn-sm btn-danger"
        >
          <i class="pi pi-trash"></i>
        </button>
      </div>
    </div>
  </div>

  }

  <div class="container">
    <p-fileUpload
      #fileUpload
      [customUpload]="true"
      (uploadHandler)="onUpload($event)"
      [multiple]="true"
      accept="image/*"
      maxFileSize="4000000"
    >
    </p-fileUpload>
  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-success m-3">Lưu</button>
  </div>
</form>
