<!-- Page Heading -->
<div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-dark">Quản lý sản phẩm</h1>
  <button class="filter-btn" (click)="sidebarService.toggle('filter')">
    Lọc <i class="pi pi-filter"></i>
  </button>
</div>

<div class="card" *ngIf="pagination">
  <p-table [value]="pagination.data" [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="showCreateProductDialog()">
          Thêm sản phẩm <i class="pi pi-plus"></i>
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Mã sản phẩm</th>
        <th pSortableColumn="name">Tên sản phẩm<p-sortIcon field="name" /></th>
        <th>Ảnh</th>
        <th>Url</th>
        <th>Thể loại</th>
        <th pSortableColumn="price">Giá <p-sortIcon field="price" /></th>
        <th pSortableColumn="discount">
          Giảm giá (%)<p-sortIcon field="discount" />
        </th>
        <th>Màu sắc</th>
        <th pSortableColumn="createAt">
          Ngày tạo<p-sortIcon field="createAt" />
        </th>
        <th>Trạng thái</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          {{ product.id }}
        </td>
        <td>
          {{ product.name }}
        </td>
        <td>
          <img
            src="{{
              product.mainPhoto || '../../../../../assets/no-image.svg'
            }}"
            alt=""
          />
        </td>
        <td>
          {{ product.slug }}
        </td>
        <td>
          {{ product.category }}
        </td>
        <td>{{ product.price | number : "1.0" : "en-US" }}đ</td>
        <td>
          {{ product.discount }}
        </td>

        <td>
          <div class="d-flex gap-2 justify-content-center">
            @for (color of product.productColors; track null) {
            <span
              class="color-box"
              [ngStyle]="{ 'background-color': color.colorCode }"
            >
            </span>
            }
          </div>
        </td>

        <td>
          {{ product.createAt | date : "dd/MM/yyyy HH:mm a" }}
        </td>

        <td>
          @switch (product.isVisible) { @case (true) {
          <p-button
            icon="pi pi-eye"
            class="m-2"
            [rounded]="true"
            [text]="true"
            size="large"
            severity="success"
            (onClick)="updateProductStatus(product.id)"
          />
          } @case (false) {
          <p-button
            icon="pi pi-eye-slash"
            class="m-2"
            [rounded]="true"
            [text]="true"
            size="large"
            severity="danger"
            (onClick)="updateProductStatus(product.id)"
          />
          } }
        </td>

        <td>
          <p-button
            id="update-btn"
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="showUpdateProductDialog(product.id)"
          />

          <p-button
            icon="pi pi-warehouse"
            severity="warning"
            [rounded]="true"
            [outlined]="true"
            (onClick)="showUpdateProductVariantDialog(product.id)"
          />

          <p-button
            id="delete-btn"
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteConfirmationDialog(product.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  @if(pagination) {
  <div class="flex justify-content-center">
    <p-paginator
      (onPageChange)="pageChanged($event)"
      [alwaysShow]="false"
      [rows]="pagination.pageSize"
      [totalRecords]="pagination.totalCount"
      [first]="(pagination.pageIndex - 1) * pagination.pageSize"
    />
  </div>
  }
</div>

<p-confirmDialog />
<app-filter-sidebar></app-filter-sidebar>
