<div class="slider-container" *ngIf="slides && slides.length > 0">
  <gallery
    [items]="slides"
    (itemClick)="navigateToBannerUrl($event)"
    imageSize="contain"
    autoHeight="true"
    nav="false"
    scrollBehavior="smooth"
    autoplay="true"
    autoplayInterval="2500"
    loop="true"
    bullets="true"
  />
</div>

<div class="d-flex" *ngIf="standees && standees.length > 0">
  @for (standee of standees; track $index) {
  <img [src]="standee.imageUrl" [routerLink]="standee.linkUrl" />
  }
</div>
<div *ngIf="hero">
  <img [src]="hero.imageUrl" [routerLink]="hero.linkUrl" />
</div>

<!-- new arrivals marquee -->
<div class="marquee" style="max-width: 100%; overflow: hidden">
  <div class="marquee-content">
    <span>NEW ARRIVALS</span>
    <span>NEW ARRIVALS</span>
    <span>NEW ARRIVALS</span>
  </div>
</div>

<div class="container">
  @if(newArrivalproducts.length > 0){
  <div class="container">
    <div class="row">
      @for (product of newArrivalproducts ; track null) {
      <div class="col-6 col-md-3">
        <app-product-item [product]="product"></app-product-item>
      </div>
      }
    </div>
  </div>
  }
</div>
