.login-layout {
  margin: 0 auto;
  width: 40%;
  padding: 100px 0;
}

input {
  height: 50px;
  border-radius: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

form {
  width: 100%;
  /* max-width: 400px;  */
}

h6.mb-1::after {
  content: " *";
  color: red;
}

.login-btn {
  /* width: 100%; */
  font-size: medium;
  font-weight: bolder;
}

.send-btn {
  font-size: medium;
  font-weight: bolder;
}

.cancle-btn {
  align-self: center;
}

.forgot-password {
  display: flex;
  flex-direction: column;
}

::ng-deep .accept-btn-dialog {
    color: white;
    background-color: black;
    border: none;
  }

::ng-deep .p-button-text {
  color: black;
}