<div class="container login-layout">
  <div class="row" style="width: 90%">
    <h2 class="mb-3">ĐĂNG NHẬP</h2>
    <form [hidden]="!isLogin" [formGroup]="loginForm" (ngSubmit)="login()">
      <app-text-input
        id="email"
        [formControl]="loginForm.controls['email']"
        [label]="'Email'"
        [type]="'email'"
      >
      </app-text-input>
      <app-text-input
        id="password"
        [formControl]="loginForm.controls['password']"
        [label]="'Mật khẩu'"
        [type]="'password'"
      >
      </app-text-input>

      <div class="row mb-3" *ngIf="validationErrors.length > 0">
        <small *ngFor="let error of validationErrors" class="text-danger"
          >*{{ error }}</small
        >
      </div>

      <div class="list-group">
        <button class="animated-btn login-btn mb-3" type="submit">
          ĐĂNG NHẬP
        </button>
        <div class="mb-4" id="google-btn"></div>
      </div>
      <div class="d-flex justify-content-center gap-1">
        <a (click)="manageForm()">Quên mật khẩu?</a>
        <span class="text-secondary">hoặc </span>
        <a routerLink="/account/register">Đăng ký</a>
      </div>
    </form>

    <div [hidden]="isLogin" class="forgot-password">
      <h3>Phục hồi mật khẩu</h3>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetPasswordEmail()">
        <app-text-input
          [formControl]="forgotPasswordForm.controls['email']"
          [label]="'Email'"
          [type]="'email'"
        >
        </app-text-input>
        <div class="d-flex">
          <button class="animated-btn send-btn mb-3" type="submit">GỬI</button>
          <p class="cancle-btn ms-3 cursor-pointer" (click)="manageForm()">Hủy</p>
        </div>
      </form>
    </div>
  </div>
</div>

<p-confirmDialog />
